body{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
/* calculator style */
#calculator{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43%;

}

/* div style with input text */
#numbers{

    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78.8%;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

/* input text style */
#numer_txt{

    border: none;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 50pt;
   
}

/* div style with all buttons */
#buttons_local{

    display: flex;
    justify-content: center;
    flex-flow: wrap;
    background-color: rgb(72, 72, 72);
    width: 75%;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

/* button style with numeric values */
#numer_button{
    height: 5em;
    width: 6em;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 19pt;
    cursor: pointer;
    transition-duration: 0.3s;
}

/* hover effect of buttons with numeric values */
#numer_button:hover{

    border-radius: 20px;
    background-color: rgb(71, 71, 71);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* button style with operations and cleaning button */
#numer_button_calc{
    height: 5em;
    width: 6em;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(253, 148, 39);
    color: white;
    font-size: 19pt;
    cursor: pointer;
    transition-duration: 0.3s;
}

/* hover effect of button style with operations and cleaning button */
#numer_button_calc:hover{

    border-radius: 20px;
    background-color:  rgb(273, 158, 49);
    color:rgb(71, 71, 71); 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

#description{

    background-color: rgb(72, 72, 72);
    border-radius: 20px;
    border-color: rgb(253, 148, 39);
    color: white;
    border-style: dashed ;
    margin-top: 5px;
    padding: 30px;
    font-size: 16pt;
   
}

.title{
    color: rgb(253, 148, 39);
    text-align: center;

}
